#teamName {
    font-family: cursive;
    font-size: 40px;
    font-weight: bold;
    border: 10px solid black;
}

#teamInfo {
    font-family: monospace;
    font-size: 30px;
    font-weight:lighter;
}

#logo img {
    height: 20px;
    width: 20px;
}

#leftBall img {
    height: 20px;
    width: 20px;
}

#rightBall img {
    height: 20px;
    width: 20px;
}

.row {
    justify-content: space-between;
}



.teamImage {
    height: 150px;
    width: 150px;
    /* border-style: solid;
    border-style: 10px; */
    padding: 20px;
    margin-top: 20px;
}

 .teamImage:hover {
    border: 10px solid rgb(0, 0, 0);
 }